	<div class="contact" id="contact">
		<div class="container">
		    <div class="col-md-6 col-sm-6 contact-left">
				<h4>Contacto</h4>
					<div class="phone">
						<h5>Telefono;</h5>
						<h5>+58 0289 9951350</h5>
					</div>
					<div class="mail">
						<h5>E-mail;</h5>
						<h5>oficinaroraimaygransabana@gmail.com</h5>
					</div>
					<div class="address">
						<h5>Direccion;</h5>
						<h5>Urbanización Akurima, Avenida Akarabisi, Edificio Peluso, Local 3, Planta Baja. Santa Elena de Uairen, Gran Sabana, Bolívar Venezuela</h5>
					</div>
					<ul>
						<li><a class="twitter" target="_blank" href="#"></a></li>
						<li><a class="facebook" target="_blank" href="https://www.facebook.com/roraimaygransabana/?fref=ts"></a></li>
						<li><a class="pinterest" target="_blank" href="https://instagram.com/gran_sabana_a_tu_alcance"></a></li>
					</ul>	
			</div>
			<div class="col-md-6 col-sm-6 contact-right">
				<h4>Comentario</h4><br>
				<form action="#" method="post">
					<input type="text" name="your name" placeholder="NOMBRE Y APELLIDO"><br>
					<input type="text" name="your phone" placeholder="NUMERO TELEFONICO"><br>
					<input type="text" name="your email" placeholder="CORREO ELECTRONICO"><br>
					<textarea rows="4" cols="50" name="your message" placeholder="MENSAJE"></textarea>
					<input type="submit"  class="hvr-rectangle-in" value="SEND">
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="footer-w3">
		<a href="#">Políticas de Privasidad</a> / <a href="#">Términos y Condiciones</a>
		<div class="container">
			<p class="agileinfo"> &copy; 2016 Roraima y Gran Sabana | Developer Jonathan Jimenez (+58) 0412 689 36 63
		</div>
	</div>


